@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.sidebar__introduction-profileimage {
    width: 400px;
    height: 400px;
}

.sidebar__extra-links {
    top: 40%;
    text-align: center;
}

.jet-brains {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0;
    background-image: url(https://resources.jetbrains.com/storage/products/company/brand/logos/jb_beam.svg);
    background-size: cover;
}

.psf {
    display: inline-block;
    width: 250px;
    height: 150px;
    margin: 0;
    background-image: url(https://www.python.org/static/img/psf-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.theme--light .psf-background {
    display: inline-block;
    background-color: #2b5b84;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF1E415E', endColorstr='#FF2B5B84');
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiMxZTQxNWUiLz48c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzJiNWI4NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    /*! background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(10%, #1e415e), color-stop(90%, #2b5b84)); */
    /*! background-image: -moz-linear-gradient(#1e415e 10%, #2b5b84 90%); */
    /*! background-image: -webkit-linear-gradient(#1e415e 10%, #2b5b84 90%); */
    /*! background-image: linear-gradient(#1e415e 10%, #2b5b84 90%); */
    -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.03), inset 0 0 20px rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.03), inset 0 0 20px rgba(0, 0, 0, 0.03);
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.03), inset 0 0 20px rgba(0, 0, 0, 0.03);
}